#app {
  margin: 0 auto;
  width: clamp(300px, 50%, 500px);
}

.todo-list__form {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

.todo-list__title-input {
  flex-grow: 1;
  margin-right: 1em;
}

.todo-list__list {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.todo-item__title {
  margin-right: auto;
  padding: 0em 1em;
}

.todo-item__checkbox:checked + * {
  text-decoration: line-through;
}
